p{
    text-align: center;
}


/* Container for array area */
.array-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


/* CSS for each array bar*/
.arraybar {
    margin: 1px;
    width: 2vw;
    background: darkred;
    display: inline-block;
}


.arraybar:hover{
    background: red;
    transition: 0.1s;
}

.rectangle{
    width: 200px;
    height: 50px;
    background: red;
}

.close-button{
    background-color: #c0392b;
    border-radius: 25%;
    padding: 1px;
    text-decoration: none;
    border: none;
    width: 20px;
    float: right;
    color: white;
}

.close-button:hover{
    background-color: #e74c3c;
}