p{
    text-align: center;
}


/* Container for array area */
/*
.array-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
*/

.sortingArea{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    display: flex;
}

.algorithm{
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
}

/* CSS for each array bar*/
.arraybar {
    margin: 1px;
    width: 2vw;
    background: darkred;
    display: inline-block;
}

.bars{
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    height: 100%;
}


.rectangle{
    width: 200px;
    height: 50px;
    background: red;
}

.close-button{
    background-color: #c0392b;
    border-radius: 25%;
    padding: 1px;
    margin: 10px;
    text-decoration: none;
    border: none;
    width: 20px;
    float: right;
    color: white;
}

.close-button:hover{
    background-color: #e74c3c;
}